<a href="https://colab.research.google.com/github/conceptbin/DA_Notebooks/blob/master/Pivot_group_demo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Grouping in pandas

In [1]:
import pandas as pd

First, load the data.

In [2]:
# File path
file = r'https://github.com/conceptbin/DA_Notebooks/raw/master/pandas-intro/data/2023-08-metropolitan-street.csv'
# Create dataframe (df)
df = pd.read_csv(file)

Create a Local_Authority column from LSOA_name.

In [3]:
#Create a new column:
df['Local_Authority'] = df['LSOA name'].str.slice(0, -5)

# Group and aggregate
Functions: `groupby()`. Group by Local Authority, count total number of crime reports for each.

In [4]:
df.keys()

Index(['Crime ID', 'Month', 'Reported by', 'Falls within', 'Longitude',
       'Latitude', 'Location', 'LSOA code', 'LSOA name', 'Crime type',
       'Last outcome category', 'Context', 'Local_Authority'],
      dtype='object')

In [6]:
df_grouped = df.groupby(['Local_Authority'])['Crime type'].agg('count')

In [7]:
df_grouped

Local_Authority
Arun                       4
Ashford                    2
Barking and Dagenham    2138
Barnet                  2851
Basildon                   5
                        ...
Woking                     1
Wokingham                  3
Worthing                   2
Wrexham                    1
Wychavon                   2
Name: Crime type, Length: 169, dtype: int64

# Mess below

## crosstab()
A basic crosstab of crime types broken down by borough.

In [ ]:
df.keys()

Index(['Crime ID', 'Month', 'Reported by', 'Falls within', 'Longitude',
       'Latitude', 'Location', 'LSOA code', 'LSOA name', 'Crime type',
       'Last outcome category', 'Context', 'Local_Authority'],
      dtype='object')

In [ ]:
# Count of incidents by borough and crime type:
df_cross = pd.crosstab(df['Local_Authority'], df['Crime type'])

In [ ]:
df_cross

Crime type,Anti-social behaviour,Bicycle theft,Burglary,Criminal damage and arson,Drugs,Other crime,Other theft,Possession of weapons,Public order,Robbery,Shoplifting,Theft from the person,Vehicle crime,Violence and sexual offences
Local_Authority,,,,,,,,,,,,,,
Arun,0,0,0,0,0,0,0,0,0,0,0,0,0,4
Ashford,0,0,0,0,0,0,0,0,0,0,0,0,0,2
Barking and Dagenham,416,15,105,117,89,14,173,14,125,77,124,34,204,631
Barnet,668,18,181,163,88,32,266,12,128,57,161,56,338,683
Basildon,0,0,0,0,0,0,0,0,0,0,0,0,1,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Woking,0,0,0,0,0,1,0,0,0,0,0,0,0,0
Wokingham,0,0,0,0,0,0,1,0,0,0,0,0,0,2
Worthing,0,0,0,0,0,1,0,0,0,0,0,0,0,1
Wrexham,0,0,0,0,0,0,0,0,0,0,0,0,0,1
Wychavon,0,0,0,0,0,0,0,0,0,0,0,0,0,2

## Working with the crosstab dataframe
If we reset the index, we can filter and sort the crosstabbed dataframe:

In [ ]:
df_cross.reset_index(inplace=True)

Here we select a few boroughs to compare, using a list of keywords. By using the "or" separator | we specify which keywords to include.

In [ ]:
la_keywords = 'Wandsworth|Hammersmith|Lambeth|Richmond'
df_cross = df_cross[df_cross['Local_Authority'].str.contains(la_keywords)]

In [ ]:
df_cross

Crime type,Local_Authority,Anti-social behaviour,Bicycle theft,Burglary,Criminal damage and arson,Drugs,Other crime,Other theft,Possession of weapons,Public order,Robbery,Shoplifting,Theft from the person,Vehicle crime,Violence and sexual offences
60,Hammersmith and Fulham,468,89,128,111,105,15,243,4,129,39,137,61,225,493
78,Lambeth,782,76,195,181,118,34,459,21,210,158,181,226,254,844
111,Richmond upon Thames,264,77,89,96,23,12,110,4,74,12,102,25,194,247
151,Wandsworth,640,79,187,182,60,24,282,11,128,53,167,77,292,608