# Practice notebook
Please enter the necessary code in the cells below. Follow the instructions in the comment for each cell#, they tell you what the code should _do_ but not _how_ to do it. This is called **pseudocode**: Step-by-step instructions for what the code should do, leaving it up to you to write the executable code.

In [9]:
# Import pandas and seaborn with the abbreviations pd and sns

Try loading a single sheet from the workbook students.xlsx

In [10]:
# Load the students.xlsx spreadsheet from the data-subfolder (look on GitHub)
# When loading the dataframe:
#  Specify the header-row
#  Specify which sheet you're loading (there are three)

In [11]:
# display the first few rows of your dataframe

Now, load all of the sheets and use concat() to join them together so that you get all three years of test scores in one table. Here's a great, simple guide for how to [combine multiple Excel worksheets in a Pandas dataframe](https://pbpython.com/pandas-excel-tabs.html).

In [12]:
# Load all the sheets into one dataframe, using concat()

In [14]:
# The Score-row in the dataset contains letter-values. 
# Use replace() to convert the letter-values into numeric values.
# Hint: replace() allows you to use a dictionary to replace systematically (e.g, {'A':5, 'B':4, etc.})

In [ ]:
# Separate columns by subject:
# Declare a separate dataframe. Use pivot_table() 
# to spread the Subject-column into separate columns, and calculate the average for each subject

In [ ]:
# Separate column by year:
# Declare a new dataframe. Spread the Year-column into separate columns.
# Sort the dataframe by student name and subject, using sort_values()

# Visualisations
For visualising categorical data (e.g., by year, subject, student) see this [Seaborn tutorial](https://seaborn.pydata.org/tutorial/categorical.html)

In [ ]:
# Use sns.catplot() to visualise scores by student and/or by year